.logo-animate-enter {
    opacity: 0;
    left: -500px;
}
.logo-animate-enter-active {
    opacity: 1;
    left: 0;
    transition: all 500ms;
}
.logo-animate-exit {
    opacity: 1;
    transform: translateX(0);
}
.logo-animate-exit-active {
    opacity: 0;
    transform: translateX(-500px);
    transition: all 500ms;
}